@using OpenIdProvider
@model OpenIdProvider.Models.User

@{
    ViewData["Title"] = "Edit Profile - "+ Model.Email;
}

@ViewData.HandleErrorMessage()

<form method="post" action="/user/edit/submit" autocomplete="off">
    <table class="position-table">
        <tr>
            <td>
                <label for="realname">Real Name</label>
            </td>
            <td>
                <input type="text" name="realname" id="realname" value="@(ViewData["realname"] ?? Model.RealName)" />
                <span class="form-help">John Smith (optional)</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="vanity">Vanity OpenId</label>
            </td>
            <td>
                <input name="vanity" id="vanity" type="text" value="@(ViewData["vanity"] ?? Model.VanityProviderId)" />
                <span class="form-help">john.smith (optional)</span>
            </td>
        </tr>
    </table>
    <input type="hidden" name="id" value="@(Model.ProviderId)" />
    <input type="hidden" name="fkey" value="@(Current.XSRFToken)" />
    <input type="submit" class="orange" value="Update" />
</form>