@using OpenIdProvider

@{
    ViewData["Title"] = "Register";
}

@ViewData.HandleErrorMessage()

<div>
    <p>
        Enter a valid email and solve the CAPTCHA, and we'll send you a link to create an account.
    </p>
</div>

<div class="registration-form">
    <form method="post" action="/account/register/submit">
        <table class="position-table">
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td class="input-td">
                    <input type="text" name="email" id="email" value="@ViewData["email"]" />
                    <span class="form-help">@("name@example.com")</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="realname">Name</label>
                </td>
                <td class="input-td">
                    <input type="text" name="realname" id="realname" value="@ViewData["realname"]" />
                    <span class="form-help">John Smith (optional)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td class="input-td">
                    <input type="password" name="password" id="password" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password2">Again</label>
                </td>
                <td class="input-td">
                    <input type="password" name="password2" id="password2" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input-td">
                    @{OpenIdProvider.Helpers.Captcha.Render(this.Output);}
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input-td">
                    <input type="submit" class="orange" value="Send Confirmation Email" />
                </td>
            </tr>
        </table>

    <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
    </form>
</div>