@using OpenIdProvider

@{
    ViewData["Title"] = "";
}

<div class="affiliate-form-header">
    <span class="logo-small"></span>
</div>

@ViewData.HandleErrorMessage()

<div class="registration-form">
    <form method="post" action="/affiliate/form/signup/submit?affId=@ViewData["affId"]">
        <table class="position-table">
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td class="input-td">
                    <input type="text" class="framed-text-field" name="email" id="email" value="@ViewData["email"]" />
                    <span class="form-help">@("name@example.com")</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="realname">Name</label>
                </td>
                <td class="input-td">
                    <input type="text" class="framed-text-field" name="realname" id="realname" value="@ViewData["realname"]" />
                    <span class="form-help">John Smith (optional)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td class="input-td">
                    <input type="password" class="framed-text-field" name="password" id="password" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password2">Again</label>
                </td>
                <td class="input-td">
                    <input type="password" class="framed-text-field" name="password2" id="password2" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input-td">
                    @{OpenIdProvider.Helpers.Captcha.Render(this.Output);}
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input-td">
                    <input type="submit" class="affiliate-button" value="Create @Current.SiteName Account" />
                </td>
            </tr>
        </table>

        <input type="hidden" name="background" value="@ViewData["Background"]" />
        <input type="hidden" name="color" value="@ViewData["Color"]" />
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
    </form>
</div>

@*
<div class="switch">
    <a href="@(ViewData["SwitchUrl"])">Already have an account?</a>
</div>
*@

@{
    // If the affiliate has provided a callback, call out to the parent IFrame to let it know we've loaded
    var onLoad = ViewData["OnLoad"];
    
    if(onLoad != null)
    {
        <script type="text/javascript">
            if (parent.postMessage) {
                parent.postMessage('@onLoad', '*');
            }
        </script>
    }
}